:root {
  --clr-gradient-0: rgba(255, 186, 0, 0);
  --clr-primary-400: #ff7aa8;
  --clr-accent-200: #fff100;

  --clr-glass-0: rgba(255, 255, 255, 9);
  --clr-glass-10: rgba(255, 255, 255, 22);

  --clr-neutral-100: #fff;
  --clr-neutral-900: ;

  --ff-primary: "Lato", sans-serif;
  --ff-accent: "Source Sans Pro", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-100);
  letter-spacing: 0.3rem;
}
p,
li {
  font-family: var(--ff-accent);
  color: var(--clr-neutral-100);
  letter-spacing: -0.035rem;
}

html,
body {
  /* margin: 0; */
  /* padding: 0; */
  overflow-x: hidden;
}

/* ---- Background Gradients ---- */
/* ---- Background Gradients ---- */
body {
  /* fix mobile scrolling issue */
  height: 86.5vh;
  position: fixed;

  background-color: var(--clr-accent-200);
  background-image: radial-gradient(
      circle 60rem at top right,
      var(--clr-primary-400),
      var(--clr-gradient-0)
    ),
    radial-gradient(
      circle 30rem at bottom left,
      var(--clr-primary-400),
      var(--clr-gradient-0)
    );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

/* ---- NAV ---- */
/* ---- NAV ---- */
.sticky {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
  margin-top: 1rem;
}

.nav {
  z-index: 10;
}
.logo {
  min-height: 10vh;
  max-width: 30px;
}
.collapsed-nav {
  list-style: none;
  padding-top: 0.5rem;
}
.line {
  width: 30px;
  border: 1px solid var(--clr-neutral-100);
  margin-bottom: 0.5rem;
}
.hero {
  display: flex;
  height: 320px;
  z-index: 1;
}

/* ---- Content Panes ---- */
/* ---- Content Panes ---- */
.container {
  width: 100%;
  position: relative;
  /* top: 30vh; */
}
.frostedGlass {
  margin: 1rem 0 1rem 0;
  padding: 1.5rem;
  top: 20rem;
  width: 80%;
  background: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  z-index: 10;
}
.card1 {
  position: absolute;
  top: 5rem;
  right: 0.033rem;
  z-index: 5;
  border-radius: 15px 0 0 15px;
}
.card2 {
  position: absolute;
  top: 15.5rem;
  z-index: 3;
  border-radius: 0 15px 15px 0;
}
.card3 {
  position: absolute;
  top: 31rem;
  left: 2.4rem;
  z-index: 4;
  border-radius: 15px;
}
.card4 {
  position: absolute;
  top: 49.5rem;
  right: 0.033rem;
  z-index: 5;
  border-radius: 15px 0 0 15px;
}
.imgFilter {
  opacity: 0.81;
  background: rgba(255, 105, 0, 0.22);
}

/* ---- SHAPES ---- */
/* ---- SHAPES ---- */
.ball {
  position: fixed;
  top: 7rem;
  left: 5rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: radial-gradient(
    /* 41% 100%, */ #e6c1e6 40%,
    rgba(114, 68, 252, 0.89) 100%
  );
  box-shadow: -31px 53px 57px 1px #ff7aa9,
    inset 0 1px 302px 12px rgba(255, 0, 81, 0.69);
  z-index: 2;
}
.paperweight {
  position: fixed;
  top: 20rem;
  left: 19.5rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff7aa8ca;
  box-shadow: 0 0 57px 23px var(--clr-primary-400);
  z-index: 2;
}
.artPanes {
  position: fixed;
  top: 38rem;
  left: 1rem;
  width: 250px;
  height: 100px;
  background-color: #ff7aa8ca;
  box-shadow: 0 0 57px 0px var(--clr-primary-400);
  z-index: 2;
}
.message {
  display: none;
}

@media screen and (min-width: 796px) {
  body {
    height: 100vh;
    background-image: radial-gradient(
        circle 60rem at top right,
        var(--clr-primary-400),
        var(--clr-gradient-0)
      ),
      radial-gradient(
        circle 60rem at bottom left,
        var(--clr-primary-400),
        var(--clr-gradient-0)
      );
  }
  p {
    margin-top: 1rem;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    display: none;
  }
  .ball {
    left: 10rem;
  }
  .frostedGlass {
    border-radius: 15%;
    width: 30%;
  }
  .message {
    height: 750px;
    display: flex;
  }
  .message-scroll {
    position: relative;
    top: 0;
    left: 5rem;
    max-height: 325px;
    z-index: 10;
  }
  .message-mobile {
    position: relative;
    top: 10rem;
    left: 15rem;
    max-height: 200px;
  }
}
